/* ############################################
########## Document
############################################ */
html{
	margin: 0;
}
body{
	margin: 0;
	background-color: #eae5de;
	font-family: 'Source Sans Pro', sans-serif;
}
.container{
	width: 920px;
	margin: 0 auto;
}

/* ############################################
########## Header
############################################ */
header{
	height: 67px;
	width: 100%;
	background-color: #212121;
}
header h1{
	float: left;
	margin: 10px 0 0;
}
header h1 a{
	display: block;
	height: 45px;
	width: 148px;
	background-image: url('../img/full_logo.png');
	text-indent: -99999px;
}
header nav{
	float: right;
}
header nav ul{
	margin: 14px 0 0;
	padding: 0;
	height: 37px;
}
header nav li{
	float: left;
	list-style-type: none;
	margin-right: 12px;
}
header nav li:last-child{
	margin-right: 0;
}
header nav li a{
	padding: 8px 12px;
	text-decoration: none;
	color: white;
	display: block;
}
#register_btn{
	background-color: #44749D;
	border-radius: 3px;
}

/* ############################################
########## Landing section
############################################ */
section{
	margin: 30px 0 72px;
}
#landing_title{
	margin: 0;
	font-size: 60px;
	text-align: center;
	font-weight: 400;
	color: #212121;
}
section p{
	margin: 24px 0 32px;
}
#cta_btn{
	height: 45px;
	width: 275px;
	float: right;
	display: block;
	border-radius: 5px;
	background-color: #44749D;
	font-size: 18px;
	color: #FEFAFA;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
}

/* ############################################
########## Landing articles
############################################ */
.feature_row{
	width: 244px;
	height: 300px;
	float: left;
	margin-right: 40px;
	padding: 12px 18px;
	background-color: #fefafa;
}
#last_feature{
	margin-right: 0;
}
.feature_title{
	margin: 0 0 22px;
	font-size: 24px;
	text-align: center;
	font-weight: 400;
}
.icon{
	text-align: center;
	font-size: 85px;
	color: #44749d;
	cursor: default;	
}
.feature_row p{
	text-align: center;
	color: #8C989E;
}

/* ############################################
########## Landing footer
############################################ */
footer{
	margin-top: 100px;
	padding: 35px 0 10px;
	background-color: #c6d5e1;
}
#contact_info{
	float: left;
}
dl{
	margin: 0;
}
h4{
	margin: 0;
}
dd{
	margin: 0;
}
dd a{
	margin-right: 12px;
	color: #fefafa;
}
dd a:hover{
	color: #44749D;
}
footer p{
	color: #8C989E;
	font-size: 14px;
	margin: 12px 0 0;
}
footer nav{
	float: right;
}
footer nav ul{
	margin: 0;
	padding: 0;
}
footer nav ul li{
	list-style-type: none;
}
footer nav a{
	text-decoration: none;
	color: #8C989E;
	font-size: 14px;
}footer nav a:hover{
	color: #44749D;
}

/* ############################################
########## Auth
############################################ */

/* ******************************
	Modal
****************************** */
.auth_area{
	width: 375px;
	margin: 100px auto;	
}
.analyzr_logo{
	
	display: block;
	height: 56px;
	width: 184px;
	background-image: url('../img/analyzr_logo.png');
	text-indent: -99999px;
	margin: 0 auto 10px;
}
.auth_form{
	width: 275px;
	position: relative;
	padding: 25px 50px 50px;
	background-color: #fefafa;
	border-radius: 5px;
}

/* ******************************
	Inputs
****************************** */
.auth_input{
	height: 30px;
	width: 265px;
	padding: 3px;
	border: 2px solid #c6d5e1;
	font-size: 14px;
	margin-bottom: 3px;
}
.auth_form a{
	text-decoration: none;
	float: right;
	margin: 15px 0;
	color: #44749d;
}
.auth_form label{
	float: left;
}
fieldset{
	margin: 0 0 15px;
	padding: 0;
	border: 0;
}

/* ******************************
	Errors
****************************** */
.error_message{
	position: absolute;
	right: 50px;
	font-size: 12px;
	color: #44749d;
}
.error_message p{
	margin: 0;
	display: inline;
}

/* ############################################
########## Survey
############################################ */

/* ******************************
	Articles
****************************** */
.survey_item{
	background-color: #fefafa;
	margin-bottom: 10px;
}
.article_header{
	min-height: 24px;
	background-color: #c6d5e1;
	padding: 5px 0 5px 15px;
}
.article_content{
	padding: 15px;
}
.article_content label{
	display: inline-block;
	width: 75px;
	color: #44749d;
}

/* ******************************
	Article text
****************************** */
#survey_title{
	color: #bcb7ad;
	font-size: 24px;
	font-weight: 200;
}
#survey_title strong{
	color: #44749d;
	font-weight: 400;
}
.answer_required{
	float: right;
	margin: 0 15px 0; 
	font-size: 14px;
	font-weight: 400;
}
.question_title{
	margin: 0;
	float: left;
	max-width: 70%;
	font-size: 18px;
	font-weight: 400;
}
.choice_rows td{
	padding: 0;
}
.choice_rows tr{
	height: 30px;
}

/* ******************************
	Form inputs
****************************** */
.survey_input{
	height: 30px;
	width: 265px;
	padding: 3px;
	border: 2px solid #c6d5e1;
	font-size: 14px;
}
.form_select{
	height: 40px;
	width: 275px;
	border: 2px solid #c6d5e1;
	font-size: 14px;
}
textarea{
	padding: 3px;
	width: 265px;
	resize: none;
	border: 2px solid #c6d5e1;
	font-size: 14px;
}
.survey_textarea{
	width: 100%;
	box-sizing:border-box;
}

/* ******************************
	Buttons
****************************** */
.submit_btn{
	width: 275px;
	height: 45px;
	border-radius: 5px;
	background-color: #44749d;
	color: #fefafa;
	border: none;
	margin-top: 15px;
	font-size: 16px;
	font-size: 14px;
	font-weight: 500;
}


/* ############################################
########## Messages
############################################ */
.restricted_container{
	margin: 100px auto;
	padding: 100px 50px;
	width: 275px;
	background-color: #fefafa;	
	border-radius: 5px;
}
.restricted_message{
	text-align: center;
	color: #212121;
	padding: 0;
	margin: 0;
}
