/* ########################################################################### 
######################### Components #########################################
########################################################################### */

/* ******************************
	Document
****************************** */
html{
	margin: 0;
}
body{
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

/* ******************************
	Layout
****************************** */
#parent{
    margin-top:67px;
    position:absolute; 
    top:0px; 
    left:0px;
    right:0px; 
    bottom:0px;
}
section{
    position:absolute; 
    z-index: 2;
    left: 60px;
    top: 0px;
    right: 315px;
    bottom: 0px;
    min-width: 645px;
    background-color: #eae5de; 
    overflow: scroll;  
}
#home_section{
	position:absolute; 
    z-index: 2;
    left: 0px;
    top: 0px;
    right: 315px;
    bottom: 0px;
    min-width: 645px;
    background-color: #eae5de; 
}
aside{
	position:absolute;
    width: 315px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #fefafa;
    overflow: scroll;
}

/* ******************************
	Headers
****************************** */
header{
	height: 67px;
	width: 100%;
	background-color: #212121;
}
header h1{
	float: left;
	color: white;
}
.full_logo{
	text-indent: -9999px; ;
	background-image: url('../img/full_logo.png');
	height: 45px;
	width: 148px;
	margin: 10px 0 0 15px;
}
.icon_logo{
	text-indent: -9999px; ;
	background-image: url('../img/icon_logo.png');
	height: 40px;
	width: 31px;
	margin: 10px 70px 0 15px;
}
.header_icon{
	vertical-align: middle;
}
.header_icon_arrow{
	color: #44749D;
	vertical-align: middle;
	font-size: 18px;
}
header ul{
	float: right;
	margin: 24px 15px 0 0;
	padding: 0;
}
header ul li{
	float: left;
	color: #c6d5e1;
	list-style-type: none;
	margin-right: 20px;	
}
header ul li:last-child{
	margin-right: 0px;	
}
header ul li a{
	color: #fefafa;
	text-decoration: none;
	font-size: 16px;
}
header ul li a:hover{
	color: #44749d;
}
header ul li strong{
	font-size: 16px;
}
#survey_link{
	float: left;
	color: #fefafa;
	text-decoration: none;
	margin: 24px 0 0;
	display: inline-block;
}
/* ******************************
	Side Nav
****************************** */
nav{
    position:absolute;
    z-index: 1;
    width: 60px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #fefafa;
}
nav ul{
	padding: 0;
}
nav ul li{
	list-style-type: none;
	width: 40px;
	margin: 0 auto;
	vertical-align: bottom;
}
nav a{
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	color: #212121;
	margin-bottom: 20px;
}
nav .icon{
	font-size: 30px;
}
.current_section{
	color: #44749d;
}

/* ******************************
	Containers
****************************** */
.container{
	width: 90%;
	margin: 0 auto;
}
.side_container{
	width: 275px;
	margin: 0 auto;
	position: relative;
}
.builder_container{
	margin-bottom: 105px;
}
.builder_edit_contanier{
	margin-bottom: 160px;
}

/* ******************************
	Articles
****************************** */
article{
	background-color: #fefafa;
	margin-bottom: 10px;
}
.article_header{
	min-height: 24px;
	background-color: #c6d5e1;
	padding: 5px 0 5px 15px;
	position: relative;
}
.article_content{
	padding: 15px;
	position: relative;
}
.article_content label{
	display: inline-block;
	width: 75px;
	color: #44749d;
}

/* ******************************
	Titles
****************************** */
h2{
	color: #bcb7ad;
	font-size: 24px;
	font-weight: 200;
}
h2 strong{
	color: #44749d;
	font-weight: 400;
}
h3{
	margin: 0;
	float: left;
	max-width: 70%;
	font-size: 18px;
	font-weight: 400;
}
.empty_message{
	color: #212121;
	font-size: 30px;
	max-width: 100%;
}
.empty_message strong{
	color: #44749d;
}
.empty_message span{
	padding-left: 12px; 
	font-size: 50px;
	color: #44749d;
	cursor: default;
	vertical-align: top;
}
h4{
	margin: 0 0 3px 0;
	font-size: 20px;
	font-weight: 400;
}
h5{
	margin: 0;
	font-size: 14px;
	font-weight: 300;
}
h5 strong{
	color: #44749d;
	font-weight: 400;
}

/* ******************************
	Errors
****************************** */
.in-head_error_message{
	position: absolute;
	top: 8px;
	right: 15px;
	font-size: 12px;
	color: #44749d;
}
.in-head_error_message p{
	display: inline;
	font-size: 14px;
}
.error_message{
	position: absolute;
	right: 0;
	font-size: 12px;
	color: #44749d;
}
.error_message p{
	display: inline;
	font-size: 12px;
}

/* ******************************
	Inputs
****************************** */
fieldset{
	margin: 0 0 15px;
	padding: 0;
	border: 0;
}
legend{
	float: left;
	margin-bottom: 8px;
}
.form_input{
	height: 30px;
	width: 265px;
	padding: 3px;
	border: 2px solid #c6d5e1;
	font-size: 14px;
	margin-bottom: 5px;
}
.survey_input{
	height: 30px;
	width: 265px;
	padding: 3px;
	border: 2px solid #c6d5e1;
	font-size: 14px;
}
textarea{
	padding: 3px;
	width: 265px;
	resize: none;
	border: 2px solid #c6d5e1;
	font-size: 14px;
}
.survey_textarea{
	width: 100%;
	box-sizing:border-box;
}

/* ******************************
	Text
****************************** */
p{
	margin: 0;
	font-size: 16px;
	font-weight: 400;
}
th{
	font-size: 18px;
	font-weight: 400;
}
td{
	font-size: 16px;
	font-weight: 400;
}

/* ******************************
	Buttons
****************************** */
.submit_btn{
	width: 275px;
	height: 45px;
	border-radius: 5px;
	background-color: #44749d;
	color: #fefafa;
	border: none;
	margin-top: 15px;
	font-size: 14px;
	font-weight: 500;
}
.update_btn{
	height: 40px;
	width: 108px;
	float: right;
	padding: 0;
	border: none;
	border-radius: 3px;
	background-color: #85929d;
	color: #cccccc;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}
.cancel_edit_btn{
	display: block;
	width: 275px;
	height: 45px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #EBE8E1;
	color: #212121;
	border: none;
	text-decoration: none;
	text-align: center;
	line-height: 45px;
	font-size: 16px;
	font-weight: 600;
}
.fix_btn_bottom{
	position: fixed;
	bottom: 0;
	margin-left: -20px;
	padding: 20px;
	background-color: #C6D5E1;
}
.fix_btn_bottom .submit_btn{
	margin: 0;
}

/* ******************************
	Table
****************************** */
table{
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
thead{
	height: 34px;
	padding: 0 0 0 10px;
	background-color: #c6d5e1;
	color: #212121;
}
th, td{
	padding: 0 15px;
}
.choice_rows td{
	padding: 0;
}
.choice_rows tr{
	height: 30px;
}

/* ########################################################################### 
######################### HOME ###############################################
########################################################################### */

/* ******************************
	Main Content
****************************** */
#new_survey{
	margin-top: 19px;
	position: relative;
}
#new_survey_content{
	padding: 15px;
}
#new_survey_content label{
	display: inline-block;
	width: 115px;
	color: #44749d; 
	font-size: 16px;
	font-weight: 500;
}
#create_survey_input{
	width: 295px;
}
.home_existing_survey{
	padding: 15px;
}
.home_existing_info{
	float: left;
}
.home_existing_survey ul{
	float: right;
	margin: 10px 0 0;
	padding: 0;
}
.home_existing_survey ul li{
	float: left;
	margin-top: 0;
	list-style-type: none;
	margin-right: 20px;
}
.home_existing_survey ul li:last-child{
	margin-right: 0;
}
.home_existing_survey ul a{
	text-decoration: none;
	display: block;
	color: #212121;
	text-align: center;
	font-size: 12px;
}
.home_existing_survey ul a:hover{
	color: #44749d;
}
.home_existing_survey .icon{
	font-size: 25px;
}

/* ******************************
	Side Content
****************************** */
#feature_set h2{
	color: #212121;
	font-weight: 400;
	margin: 0;
}
#feature_set .icon{
	color: #44749d;
	font-size: 60px;
}
#mail_item{
	height: 67px;
}
.feature_item{
	margin-top: 19px;
}
.feature_item ul{
	margin: 0;
	padding-left: 20px;
}

/* ########################################################################### 
######################### SETTINGS ###########################################
########################################################################### */

/* ******************************
	Main Content
****************************** */
.settings_text{
	margin-bottom: 24px; 
	font-size: 16px;
	font-weight: 400;
}
.form_select{
	height: 40px;
	width: 275px;
	border: 2px solid #c6d5e1;
	font-size: 14px;
}

/* ******************************
	Side Content
****************************** */
#delete_btn{
	display: block;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
	background-color: #ef454d; 
	font-size: 16px;
}

/* ########################################################################### 
######################### BUILD ##############################################
########################################################################### */

/* ******************************
	Main Content
****************************** */
.question_actions{
	position: absolute;
	right: 15px;
	margin: 0;
	padding: 0;
}
.question_actions li{
	float: left;
	list-style-type: none;
	margin-left: 12px;
}
.question_actions li a{
	text-decoration: none;
	display: block;
	height: 40px;
	width: 108px;
	background-color: #bcb7ad;
	border-radius: 3px;
	text-align: center;
	color: #FEFAFA;
	line-height: 40px;
}
.question_actions li .remove_quest_btn{
	background-color: #ef454d; 
	
}

/* ******************************
	Side Content
****************************** */
.question_textarea{
	height: 75px;	
}
.add_choice_btn{
	font-size: 14px;
	color: #808284;
	cursor: pointer;
	float: left;
}
.additional_choice_input{
	width: 240px;
}
.remove_choice_anchor{
	text-decoration: none;
	display: inline-block;
	color: #212121;
	font-size: 18px;
	position: relative;
	top: 3px;
	left: 6px;
}
.indicate_type p{
	float: left;
	margin-left: 3px;
	color: #44749D; 
}
.type_selector input{
	position:absolute;
    z-index:999;
    left: -999999999px;
}
.radio{
	background-image: url('../img/radio_icon.png');
	
}
.checkbox{
	background-image: url('../img/checkbox_icon.png');
}
.dropdown{
	background-image: url('../img/dropdown_icon.png');
}
.input{
	background-image: url('../img/input_icon.png');
}
.textarea{
	background-image: url('../img/textarea_icon.png');
}
.type_selector input:active + .type_img{
	opacity: .9;
}
.type_selector input:checked + .type_img{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.type_img{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.type_img:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* ########################################################################### 
######################### SEND ###############################################
########################################################################### */

/* ******************************
	Main Content
****************************** */
.send_recipients_table tr{
	height: 60px;
	background-color: #fefafa;
}
.send_recipients_table .spacer{
	height: 6px;
	background-color: transparent;
}

/* ******************************
	Side Content
****************************** */
.send_textarea{
	height: 160px;
}
#restrict_action{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(254, 250, 250, 0.8);
}
#restrict_action .empty_message{
	width: 100%;
	text-align: center;
	padding: 51px 0 15px 0;
}
#restrict_action .empty_btn{
	display: inline-block;
	height: 45px;
	width: 100%;
	border-radius: 5px;
	background-color: #44749d;
	color: #fefafa;
	text-decoration: none;
	text-align: center;
	line-height: 45px;
}

/* ########################################################################### 
######################### ANALYZE ############################################
########################################################################### */

/* ******************************
	Main Content
****************************** */
.answer_required{
	float: right;
	margin-right: 15px; 
	font-size: 14px;
	font-weight: 400;
}
.analyze_table tr{
	height: 30px;
}
#recipient_choice{
	height: 17px;
	width: 14px;
	background-image: url('../img/check_mark.png');
	display: inline-block;
	margin-left: 12px;
}
meter{
	width: 90%;
	height: 12px;
	vertical-align: baseline;
	background: #EAE5DE;
    border-radius: 3px;
}
meter::-moz-meter-bar {
    background: #43749D;
    border-radius: 3px;
}
meter::-webkit-meter-bar {
    background: #EAE5DE;
    border-radius: 3px;
}
meter::-webkit-meter-optimum-value {
    background: #43749D;
    border-radius: 3px;
}
.carousel_input_container{
	width: 275px;
}
.input_carousel{
	width: 265px;
	overflow: hidden;
	border: 2px solid #c6d5e1;
}
.input_responses{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.input_response{
	float: left;
	width: 265px;
	height: 30px;
	line-height: 30px;
	padding: 3px;
}
.carousel_text_container{
	width: 100%;
}
.text_carousel{
	width: 100%;
	overflow: hidden;
	border: 2px solid #c6d5e1;
	box-sizing:border-box;
	min-height: 150px;
	overflow-y: scroll;
}
.text_responses{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.text_response{
	float: left;
	padding: 3px;
}

.current_num{
	vertical-align: top;
	font-size: 16px;
	color: #43749D;
}
.swipe_controls{
	float: right;
	margin-top: 3px; 
}
.swipe_controls .icon{
	font-size: 20px;
	color: #43749D;
	cursor: pointer;
}
	
/* ******************************
	Side Content
****************************** */
#analyze_type_ul{
	padding: 0;
	margin: 0;
	height: 30px;
}
#analyze_type_ul li{
	float: left;
	list-style-type: none;
	padding-right: 10px;
}
#analyze_type_ul a{
	text-decoration: none;
	color: #c6d5e1;
}
#analyze_type_ul .current_analyze_type{
	color: #212121;
}
.recipient_item{
	padding: 10px;
	cursor: pointer;
}
.current_recipient_item{
	background-color: #c6d5e1;
}
.recipient_hidden{
	opacity: .2;
	cursor: default;
}