html{
	margin: 0;
}
body{
	margin: 0;
}
h2{
	color: #bcb7ad;
}
h2 strong{
	color: #44749d;
}
h3{
	margin: 0;
	float: left;
	max-width: 70%;
}
p{
	margin: 0;
}




#parent{
    margin-top:67px;
    position:absolute; 
    top:0px; 
    left:0px;
    right:0px; 
    bottom:0px;
}

section{
    position:absolute; 
    z-index: 2;
    left: 60px;
    top: 0px;
    right: 315px;
    bottom: 0px;
    min-width: 645px;
    background-color: #eae5de;
    
}
aside{
	position:absolute;
    width: 315px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #fefafa;
    overflow: scroll;
}
/* ########################################################################### 
######################### HEADER #############################################
########################################################################### */
header{
	height: 67px;
	width: 100%;
	background-color: #212121;
}
header h1{
	margin: 14px 70px 0 20px;
	float: left;
	color: white;
}
header ul{
	float: right;
	margin: 24px 0 0;
	padding: 0;
}
header ul li{
	float: left;
	color: #c6d5e1;
	list-style-type: none;
	margin-right: 20px;	
}
header ul li a{
	color: #fefafa;
	text-decoration: none;
}
#survey_link{
	float: left;
	color: #fefafa;
	text-decoration: none;
	margin: 24px 0 0;
}

/* ########################################################################### 
######################### SIDE NAV ###########################################
########################################################################### */
nav{
    position:absolute;
    z-index: 1;
    width: 60px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #fefafa;
}
nav ul{
	padding: 0;
}
nav ul li{
	list-style-type: none;
	width: 40px;
	height: 75px;
	margin: 0 auto;
}
nav a{
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
}

/* ########################################################################### 
######################### MAIN CONTENT #######################################
########################################################################### */
#container{
	width: 90%;
	margin: 0 auto;
}
article{
	background-color: #fefafa;
	margin-bottom: 10px;
}
.article_header{
	min-height: 20px;
	background-color: #c6d5e1;
	padding: 5px 0 5px 15px;
}
.article_header ul{
	padding: 0;
	margin: 0;
	float: right;
}
.article_header ul li{
	float: left;
	list-style-type: none;
	margin-right: 20px;	
}
.article_header ul li a{
	color: #212121;
	text-decoration: none;
}
.article_content{
	padding: 15px;
}





/* ########################################################################### 
######################### SIDE CONTENT #######################################
########################################################################### */
#side_container{
	width: 275px;
	margin: 0 auto;
}





textarea{
	padding: 0;
	width: 100%;
	height: 85px;
	resize: none;
}



